---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import Projects from '@/components/Projects.astro'
import Stack from '@/components/Stack.astro'
import Footer from '@/components/Footer.astro'
import projectData from '@/data/projects.json'
import stackData from '@/data/stack.json'
import { Icon } from 'astro-icon/components'
import { ViewTransitions } from 'astro:transitions'
---

<Layout title='mouro.dev'>
	<ViewTransitions />
	<div class='grid h-svh grid-rows-[auto_1fr_auto] gap-4'>
		<header>
			<Hero />
		</header>

		<main>
			<section class='mt-14'>
				<div class='container mx-auto max-w-2xl space-y-4 px-4'>
					<div class='items-line flex justify-between'>
						<h2 class='font-bold text-heading md:text-2xl'>Projetos</h2>
					</div>
					<div class='grid
          gap-4 md:grid-cols-1'>
						<Projects
							work='Em desenvolvimento'
							name='Meu site pessoal'
							description='Com um design intuitivo e moderno, o mouro.dev combina a flexibilidade do Astro Build com a minha criatividade, mas também oferece uma navegação suave.'
							url='/'
						/>

						<!-- {
							projectData.map((projectData) => {
								return (
									<Projects
										name={projectData.name}
										description={projectData.description}
										url={projectData.url}
									/>
								)
							})
						} -->
					</div>

					<a
						class='mx-auto flex w-fit items-center gap-4 rounded-md bg-surface px-5 py-2 text-heading transition-all duration-150 hover:bg-surface/70 hover:shadow-lg active:bg-surface/80 active:shadow-lg'
						href='/projects'
					>
						Ver todos
						<Icon name='arrow-linear' size={15} />
					</a>
				</div>
			</section>

			<section class='mt-14'>
				<div class='container mx-auto max-w-2xl space-y-4 px-4'>
					<h2 class='text-xl font-bold text-heading md:text-2xl'>Minha stack</h2>
					<p class=''>
						Para garantir eficiência e qualidade em meus projetos diários, utilizo uma variedade de
						ferramentas essenciais.
					</p>

					<div class='grid gap-3 md:grid-cols-2'>
						{
							stackData.map((stackData) => {
								return (
									<Stack
										image={stackData.image}
										title={stackData.title}
										body={stackData.body}
										href={stackData.href}
									/>
								)
							})
						}
					</div>
					<a href='/stack' class='mt-4 block text-center text-base hover:underline'
						>Ver mais ferramentas</a
					>
				</div>
			</section>
		</main>

		<footer>
			<Footer />
		</footer>
	</div>
</Layout>

<!-- <style>
		header {
			background: url(../assets/bg-7.jpg);
			position: relative;
		}

		header::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
		}
	</style> -->
