---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import Projects from '@/components/Projects.astro'
import Stack from '@/components/Stack.astro'
import Footer from '@/components/Footer.astro'
import projectData from '@/data/projects.json'
import stackData from '@/data/stack.json'
import { Icon } from 'astro-icon/components'
import { ViewTransitions } from 'astro:transitions'
---

<Layout title='mouro.dev'>
  <ViewTransitions />
  <div class='grid grid-rows-newRow gap-4 h-svh'>
    <header>
      <Hero />
    </header>

    <main class='space-y-12'>
      <section>
        <div class='container max-w-2xl mx-auto px-4 space-y-4'>
          <div class='flex items-baseline justify-between'>
            <h2 class='md:text-2xl font-bold'>Projetos Recentes</h2>
            <a
              class='hover:text-dark-primary transition-colors flex items-center gap-2'
              href='/projects'
              >Ver todos <Icon name='ri:external-link-fill' />
            </a>
          </div>
          <div class='grid gap-4'>
            {
              projectData.map((projectData) => {
                return (
                  <Projects
                    name={projectData.name}
                    description={projectData.description}
                    url={projectData.url}
                  />
                )
              })
            }
          </div>
        </div>
      </section>

      <section>
        <div class='container max-w-2xl mx-auto px-4 space-y-4'>
          <h2 class='md:text-2xl font-bold'>Minha stack</h2>
          <p class='font-medium font-mono text-sm md:text-base text-zinc-500'>
            No meu fluxo de trabalho diário, confio em uma série de ferramentas
            que me ajudam a manter a eficiência e a qualidade em meus projetos.
          </p>

          <div class='grid md:grid-cols-2 gap-3'>
            {
              stackData.map((stackData) => {
                return (
                  <Stack
                    image={stackData.image}
                    title={stackData.title}
                    body={stackData.body}
                    href={stackData.href}
                  />
                )
              })
            }
          </div>
          <a
            href='/stack'
            class='text-base text-center hover:underline mt-4 block'
            >Ver mais ferramentas</a
          >
        </div>
      </section>
    </main>

    <footer>
      <div class='container max-w-2xl mx-auto px-4 space-y-4'>
        <Footer />
      </div>
    </footer>
  </div>

  <style>
    header {
      background: url(../assets/bg-7.jpg);
      position: relative;
    }

    header::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    }
  </style>
</Layout>
