---
import { Icon } from 'astro-icon/components'

export interface Props {
	name: string
	description: string
	url: string
	work?: string
	stack?: string
	date?: string
}

const { name, description, url, work, stack } = Astro.props
---

<a
	href={url}
	target="_blank"
	rel="noopener noreferrer"
	class="group border-border bg-surface grid gap-4 rounded-md border px-2 py-8"
>
	<div class="space-y-2">
		<div class="flex items-center justify-between">
			<h3
				class="text-heading group-hover:text-accent flex items-center gap-6 font-semibold transition-all"
			>
				{name}
				{
					work && (
						<p class="bg-accent/10 text-accent/80 flex w-fit items-center gap-2 rounded-md p-1 text-xs">
							<span class="h-2 w-2 animate-pulse rounded-full bg-green-600" />

							{work}
						</p>
					)
				}
			</h3>
			<Icon name="arrow" size={24} class="text-accent transition-all group-hover:-rotate-45" />
		</div>
		<p class="text-sm">{description}</p>
		<p class="text-sm font-semibold">{stack}</p>
	</div>
</a>
