---
import { Icon } from 'astro-icon/components'

export interface Props {
	name: string
	description: string
	url: string
	work?: string
	stack?: string
	icon?: string
}

const { name, description, url, work, stack, icon } = Astro.props
---

<a
	href={url}
	target='_blank'
	class='group flex flex-col justify-between gap-4 rounded-md border border-border bg-surface p-4'
>
{
	work && (
		<p class='flex w-fit items-center gap-2 rounded-md bg-accent/10 p-1 text-xs text-accent/80'>
			<span class='h-2 w-2 animate-pulse rounded-full bg-accent' />
			{work}
		</p>
	)
}
<div class='flex items-center  gap-4 transition-all group-hover:text-accent'>
	{
	icon && (
		<Icon name={icon} size={24} />
	<h3 class='font-semibold text-heading transition-all group-hover:text-accent flex '>{name} 
	</h3>
	)	
	}
</div>
	
	<p class='text-sm'>{description}</p>
	<p class='text-sm font-semibold text-accent'> {stack}</p>


</a>
